<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5ETSQhsbPqMhEm2hj4b75VRy6tpto5s8</string>
	<key>GCM_SENDER_ID</key>
	<string>579456489434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.butlerapp.ios</string>
	<key>PROJECT_ID</key>
	<string>butler-app-e395f</string>
	<key>STORAGE_BUCKET</key>
	<string>butler-app-e395f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579456489434:ios:59b4785a4fe79efe57d2e3</string>
</dict>
</plist>